<p>
  Los códigos de respuesta para la consulta de autorizaciones pendientes CFDI son importantes para entender el resultado de la solicitud. A continuación se detallan los códigos más comunes que puedes recibir al realizar una solicitud de consulta de autorizaciones pendientes a través de la API.
</p>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>100</td>
      <td>Autorizaciones pendientes entregadas</td>
    </tr>
    <tr>
      <td>101</td>
      <td>No hay autorizaciones pendientes</td>
    </tr>
    <tr>
      <td>997</td>
      <td>Parámetros inválidos</td>
    </tr>
    <tr>
      <td>999</td>
      <td>Error interno</td>
    </tr>
    <tr>
      <td>300</td>
      <td>API KEY Inválida o inexistente</td>
    </tr>
  </tbody>
</table>
