<p>
  Los códigos de respuesta para la cancelación de CFDI de retenciones son importantes para entender el resultado de la solicitud. A continuación se detallan los códigos más comunes que puedes recibir al realizar una solicitud de cancelación a través de la API.
</p>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Descripción</th>
      <th>Detalle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>300</td>
      <td>API KEY Inválida o inexistente</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1000</td>
      <td>Error al autenticar el servicio de cancelación</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1001</td>
      <td>Error durante la cancelación servicio SAT</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1002</td>
      <td>Error el objeto de cancelación viene vacío</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1003</td>
      <td>Error dato folios a cancelar es inválido</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1004</td>
      <td>Error el resultado del servicio del SAT es vacío o inválido</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1005</td>
      <td>Error el folio de seguimiento es inválido</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1006</td>
      <td>Mensaje SAT</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1201</td>
      <td>UUID Solicitud de cancelación correcta</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1202</td>
      <td>UUID previamente cancelado</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1203</td>
      <td>UUID no corresponde con el emisor</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1205</td>
      <td>UUID no existe</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1300</td>
      <td>autenticación no válida</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1301</td>
      <td>XML mal formado</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1302</td>
      <td>Estructura de folios no válida</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1303</td>
      <td>Estructura de RFC no válida</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1304</td>
      <td>Estructura de fecha no válida</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1305</td>
      <td>Certificado no corresponde con al emisor</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1306</td>
      <td>Certificado no vigente</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1307</td>
      <td>Uso de FIEL no permitido</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1308</td>
      <td>Certificado revocado o caduco</td>
      <td></td>
    </tr>
    <tr>
      <td>CR1309</td>
      <td>Firma mal formada o inválida</td>
      <td></td>
    </tr>
  </tbody>
</table>
